.cont{
    width: 500px;
    margin: 0 auto;
}
.SplitCol--fixed,.Tabbar--shadow{
    display: none;
}
.InputParent{
    display: flex;
    flex-wrap: wrap;

}

.red{
    background-color: brown;
}

@media screen and (max-width:600px){
    .cont{
        width: 100%;
    }
}